@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --cor0: hsl(0, 0%, 100%);
    --cor1: hsl(212, 45%, 89%);
    --cor2: hsl(220, 15%, 55%);
    --cor3: hsl(218, 44%, 22%);
    --cor4: #d6e1f0;
}

body {
    background-color: var(--cor4);
    font-family: 'Outfit', sans-serif;
}

.content {
    background-color: var(--cor0);
    text-align: center;
    border-radius: 20px;
    width: 375px;
    padding: 15px 15px 30px 15px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.205);
    margin: auto;
    position: absolute;
    height: 570px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content img {
    max-width: 375px;
    border-radius: 10px;
}

.content h1 {
    font-size: 1.6em;
    margin: 16px;
}

.content p {
    font-size: 1em;
    color: var(--cor2);
    padding: 0 46px;
    text-align: center;
}

footer {
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


@media (min-width: 375px) {
    .content {
        width: 350px;
    }

    .content img {
        width: 350px;
    }
}